<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Video" value="*.mp4;*.flv;*.wmv;*.asf;*.rmvb;*.rm;*.mpeg;*.mpg;*.mov;*.mkv;*.avi"/>
    <add key="Voice" value="*.mp3;*.wma"/>
    <add key="Document" value="*.txt;*.doc;*.xls"/>
  </appSettings>
  <connectionStrings>
    <add name="ies_resourceconn" connectionString="user id=sa; PWD =''; data source=.;initial catalog='IES_Resource';Connect Timeout=3000;Asynchronous Processing=true" />
  </connectionStrings>
</configuration>